.priceInput {
    display: flex;
    flex-direction: column;
    gap:4px;
    width: fit-content;
}

.priceInput>.right {
    text-align: right;
}
.priceInput>.label{
    font-size: 12px;
    color:rgb(158, 158, 158)
}
.inputContainer {
    position:relative;
    display: flex;
    border: 1px solid tomato;
    border-radius: 2px;

}
.inputContainer>* {
    padding: 8px;
    flex-basis: 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.inputContainer>.currency {
    font-size: 10px;
    background-color: tomato;
    border: 1px solid tomato;
    color:white;
    border-radius: 1px 0 0 1px;

}
.inputContainer>input {
    border:transparent
}
.inputContainer>.hint {
    position:absolute;
    opacity: 0;
    top:100%;
    width: 100%;
    padding: 4PX 6px;
    font-size: 10px;
    color: rgb(255, 91, 42);
    background-color: rgb(255, 224, 214);
    border-radius: 0 0 2px 2px;
    transition: all 0.2s;
}